@model DAl.PageComment

@{
    ViewBag.Title = "حذف";
}


<div class="col-lg-12">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h4>از خذف این رکورد مطمئن هستید ؟</h4></div>
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Page.PageTitle)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.Page.PageTitle)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Website)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.Website)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Comment)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.Comment)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd class="text-info">
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dd>
                        <br />
                    </dd>

                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.ActionLink("بازگشت", "Index", null, htmlAttributes: new { @Class = "btn btn-primary btn-block" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input type="submit" value="خذف" class="btn btn-danger btn-block" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
